.table {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-collapse: collapse;
  padding: 20px;
}

.tr {
  border-bottom: 1px solid #e8ecf5;
}

.th {
  padding: 1em 0;
}

.td {
  padding: 1.1em 0;
  text-align: center;
}

.dateTD {
  display: flex;
  flex-direction: column;
}

.date {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.time {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #798ba3;
}
