.miniflag {
  height: 38px;
  background: #686563;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniflag_title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #c0c0c0;
}

.miniflag.light {
  background-color: #fff7f5;
}
.miniflag.light .miniflag_title {
  color: #ffb59d;
}

.miniflag.red {
  background-color: rgba(255, 104, 151, 0.5);
}
.miniflag.red .miniflag_title {
  color: rgb(199, 56, 56);
}
